:root {
  --main: #15f54d;
  --white: rgb(255, 255, 255);
}

body {
  background-color: rgb(90, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
html {
  height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
}
.category-name {

}
.btn {
  border: 1px solid var(--white);;
  border-radius: 5px;
  background-color: transparent;
  width: 250px;
  height: 55px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.5s;
  font-size: 25px;
  color: var(--white);
}
.btn:hover {
  border: 1px solid var(--main);
  background-color: var(--main);
  color: #000;
}
.title {
  font-size: 50px;
  
  color: var(--white);
}
/* ------------main--------- */

.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.settings-text {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.settings-wrapper {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rewind {
  background: linear-gradient(to right, #15f54d 50%, #15f54d 40%, #C4C4C4 40%, #C4C4C4 100%);
  height: 7px;
  width: 250px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  margin: 0 10px;
  border-radius: 2px;
}
.rewind::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}
.rewind.player__volume {
  width: 100px;
  background: linear-gradient(to right, #15f54d 50%, #15f54d 40%, #C4C4C4 40%, #C4C4C4 100%);
}

.hide{
  display: none !important;
}
.volume-check {
  width: 20px;
  height: 20px;
  margin: 20px 0;
}
.time-check {
  width: 20px;
  height: 20px;
  margin: 20px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px 20px;
  position: relative;
  bottom: 0;
  left: 0;
}
.footer-text {
  font-weight: 200;
  color: #fff;
  font-size: 22px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.5s;
  
}
.footer-text:hover {
  color: #15f54d;
}

/* --------category */
.categories-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.categories {
  &-item {
    // width: 195px;
    width: 145px;
    cursor: pointer;
    transition: 0.7s;
    &:hover {
      transform: scale(1.05, 1.05);
    }

  }
}
.item {
  &-img {
    background-position: 50%;
    background-size: cover;
    // height: 206px;
    height: 145px;
    border-radius: 10px;
    &__unlock {
      filter: grayscale(100%);
    }
  }
  &-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-name {
    font-size: 18px;
    font-weight: 500;
  }
}
.tex {
  color: #15f54d;
  font-size: 18px;
}
.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &-author {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-pic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    &__answer {
      width: 100%;
      height: 100%;
      max-width: 400px;
      border-radius: 10px;
      transition: 0.5s;
      cursor: pointer;
      position: relative;
      z-index: 0;
      &:hover {
        transform: scale(1.03,1.03);
      }
    }
  }
  &-question {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
  }
  &-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    &__li {
      width: 158px;
      height: 48px;
      border: 1px solid #fff;
      border-radius: 7px;
      font-size: 16px;
      list-style-type: none;
      cursor: pointer;
      transition: 0.5s;
      text-align: center;
      line-height: 48px;
      overflow: hidden;
      &:hover {
        background: rgb(206, 206, 206);
      }
    }
  }
  &-img {
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 328px;
    height: 294px;
  }
}
.tex {
  font-size: 22px;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  &__dot {
    list-style-type: none;
    width: 12px;
    height: 12px;
    background-color: #C4C4C4;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 6px;
    &-correct {
      background-color: #16a339;
    }
  }
}
.popup {
  &-quiz,.popup-result {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    z-index: 10;
  }
  &-result {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    z-index: 10;
    &__title {
      font-size: 42px;
      font-weight: 700;
      color: #000;
      margin-bottom: 25px;
    }
    // &__cup {
    //   max-width: 189px;
    //   width: 100%;
    //   height: 100%;
    //   background-image: url(../assets/championcup.png);
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   background-size: contain;
    // }
  }
  &-bg {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }
  &-wrapper {
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #000;
  }
  &-img {
    max-width: 250px;
    height: 250px;
  }
  &-text {
    font-size: 17px;
    margin: 10px;
    &:nth-last-child(4) {
      font-size: 25px;
    }
  }
  &-indicator {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 15px;
  }
}
.icon-result {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.btn-next, .btn-back {
  background: #000;
  color: #fff;

}
@media (min-width: 600px) {
  .categories-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 12px;
  }
  .categories {
    &-item {
      width: 145px;
    }
  }
  .item {
    &-img {
      background-position: 50%;
      background-size: cover;
      height: 145px;
      border-radius: 10px;
    }
}}
@media (min-width: 1000px) {
  .categories-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
  }
  .categories {
    &-item {
      width: 145px;
    }
  }
  .item {
    &-img {
      background-position: 50%;
      background-size: cover;
      height: 145px;
      border-radius: 10px;
    }
}}
@media (min-width: 1400px) {
  .categories-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
  }
  .categories {
    &-item {
      width: 195px;
    }
  }
  .item {
    &-img {
      background-position: 50%;
      background-size: cover;
      height: 206px;
      border-radius: 10px;
    }
    &-name {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .tex {
    color: #15f54d;
    font-size: 20px;
  }
}