/* --------------------MAP---------------------- */

.header {
  background: #A7E1FF;
  width: 100%;
  /* padding-bottom: 86px; */
  position: relative;
  z-index: 2;
}
.footer {
  z-index: 1;
}

body {
  overflow-x: hidden;
}
.map {
  /* background-image: url(../../assets/images/map.png); */
  /* background-image: url(../../assets/images/map-svg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* width: 1160px; */
  /* height: 745px; */
  left: calc(50% - 580px);
  top: calc(50% - 375px);
  position: absolute;
}
.map-img {
  position: absolute;
  width: 1160px;
  height: auto;
}
.map-wrapper {
  position: relative;
  height: 945px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #A7E1FF;
  padding-top: 192px;
}
.map-country {
  position: relative;
}
.map-country__name {
  text-align: center;
  font-size: 16px;
}
.USA {
  position: absolute;
  top: 378px;
  left: 202px;
}
.Eastern-DRC {
  position: absolute;
  top: 527px;
  left: 506px;
  width: 65px;
  font-size: 18px;
}
.China {
  position: absolute;
  top: 393px;
  right: 286px;
}
