/* --------------------MAP---------------------- */

.header {
  background: #A7E1FF;
  width: 100%;
  padding-bottom: 86px;
  position: relative;
  /* overflow: hidden; */
}
.footer {
  z-index: 1;
}
.header-block {
  margin-bottom: 106px;
}
.map {
  /* background-image: url(../../assets/images/map.png); */
  background-image: url(../../assets/images/map-svg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1160px;
  height: 745px;
  position: relative;
}
.container {
  overflow: hidden;
}
.map-country {
  position: relative;
}
.map-country__name {
  text-align: center;
  font-size: 16px;
}
.USA {
  position: absolute;
  top: 378px;
  left: 202px;
}
.Eastern-DRC {
  position: absolute;
  top: 527px;
  left: 506px;
  width: 65px;
  font-size: 18px;
}
.China {
  position: absolute;
  top: 393px;
  right: 286px;
}
