.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  margin: 0;
  padding: 0;
}

.btn__more {
  padding: 15px 20px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

.btn__more:hover {
  background-color: #80fa7d;
}

.sort {
  width: 275px;
  height: 35px;
  border-radius: 4px;
}

.sort__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 35px;
}