@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Knewave', cursive;
}
.container {
  margin: 0 auto;
  padding: 0px 15px;
}
.hide, .hide-count, .hide-year {
  display: none !important;
}

body {
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #fff;
  
}
.header {
  background-color: #0a3d04;
  padding: 10px 0;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch {
  padding: 0px 5px;
  margin: 0px 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: #002fff;
  }
}
.search {
  width: 380px;
    height: 40px;
    padding: 5px 25px;
    margin: 10px 0;
    margin-right: 30px;
    border-radius: 20px;
    border: 1px solid #278D9F;
    color: #fff;
    font-size: 18px;
    background-color: rgba(31, 112, 127, .3);
    background-image: url(../src/assets/svg/search.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 330px center;
    backdrop-filter: blur(6px);
}
.select {
  width: 48px;
  height: 60px;
  background-image: url(../src/assets/svg/ball-2.svg);
  background-size: 48px 60px;
  background-position: left -8px;
  background-repeat: no-repeat;
  transition: .3s;
  position: fixed;
  right: 0;
  z-index: 10;
  span {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 4px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: #002fff;
  }
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.footer {
  background-color: #0a3d04;
  padding: 35px 0;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__text {
  color: #fff;
  font-size: 19px;
  transition: 0.5s;
  text-decoration: none;
  padding: 10px 0;
}
.footer__text:hover {
  color: #002fff;
}
.hide {
  display: none !important;
}