.container {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  padding: 20px 15px;
  border-radius: 5px;
  border: 1px solid #000;
}
.flag {
  max-width: 150px;
  height: 100px;

}