.toys-page {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__blur {
    background: rgba(22, 41, 41, 0.5);
    backdrop-filter: blur(3px);
    height: 100%;
    min-height: calc(100vh - 140px);
    width: 100%;
    padding: 50px 15px;
    display: flex;
    justify-content: space-between;
  }
}
.shape, .color, .size {
  display: flex;
  align-items: center;
}
.shape {
  button {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px 7px;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: .3s;
    &:nth-child(1) {
      background-image: url(../../assets/svg/ball.svg);
      margin-left: 20px;
    }
    &:nth-child(2) {
      background-image: url(../../assets/svg/bell.svg);
    }
    &:nth-child(3) {
      background-image: url(../../assets/svg/cone.svg);
    }
    &:nth-child(4) {
      background-image: url(../../assets/svg/snowflake.svg);
    }
    &:nth-child(5) {
      background-image: url(../../assets/svg/toy.svg);
    }
    &:hover {
      filter: invert(40%);
    }
    &.active {
      filter: brightness(9%) contrast(100%);
    }
  }
}
.color {
  button {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 15px 10px;
    border: 1px solid #0a3d04;
    border-radius: 5px;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    &:nth-child(1) {
      background-color: #fff;
      margin-left: 20px;
    }
    &:nth-child(2) {
      background-color: #FDD700;
    }
    &:nth-child(3) {
      background-color: #FD0000;
    }
    &:nth-child(4) {
      background-color: #2199EB;
    }
    &:nth-child(5) {
      background-color: #08AA05;
    }
    &.active::after {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 9px;
      width: 6px;
      height: 10px;
      border: solid #fff;
      border-width: 0 4px 4px 0;
      transform: rotate(
      45deg);
    }
    &.active:nth-child(1)::after {
      border-color: #666;
    }
  }
}
.size {
  button {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px 5px;
    border: 0;
    outline: 0;
    background-image: url(../../assets/svg/ball.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: .3s;
    &:nth-child(1) {
      margin-left: 20px;
    }
    &:nth-child(2) {
      background-size: 40px 40px;
    }
    &:nth-child(3) {
      background-size: 32px 32px;
      margin-left: 0;
    }
    &.active {
      filter: brightness(9%) contrast(100%);
    }
  }
}
.favorite {
  &-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &-label {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    backdrop-filter: blur(6px);
    border: 1px solid #0a3d04;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    cursor: pointer;
    transition: .5s;
  }
  &-input {
    width: initial;
    height: initial;
    display: none;
    
  }
}
.favorite-input:checked + .favorite-label::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(
  45deg);
}
.settings {
  padding: 35px 15px;
  width: 380px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(#0a3d04, .1);
  backdrop-filter: blur(6px);
  margin-right: 30px;
  &-span {
    margin-bottom: 10px;
  }
}
.count, .year {
  display: flex;
  flex-direction: column;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
}
.rewind {
  background: linear-gradient(to right, #24C5DB 50%, #24C5DB 40%, #C4C4C4 40%, #C4C4C4 100%);
  height: 2px;
  width: 320px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  margin: 0 10px;
  border-radius: 2px;
}
.rewind::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}
.sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-select {
    background-color: rgba(31, 112, 127, .3);
    font-size: 18px;
    border: 1px solid #24C5DB42;
    border-radius: 8px;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
  }
}
.btn {
  width: 180px;
  height: 45px;
  border: 1px solid #24C5DB42;
  border-radius: 30px;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.shape,.color,.size,.favorite-wrapper,.count,.year,.sort {
  margin-bottom: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  max-width: 222px;
  width: 100%;
  background-color: #1A5966;
  border-radius: 10px;
  padding: 16px;
  height: 342px;
  span {
    margin-bottom: 10px;
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &-title {
    font-size: 18px;
  }
  &-img {
    width: 85px;
    margin-bottom: 15px;
  }
}