.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 20px;
  &::before {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    padding-left: 0;
    text-transform: uppercase;
  }
}
.audio-control {
  width: 40px;
  height: 40px;
  margin-right: 40px;
  background-image: url(../../assets/svg/mute.svg);
  gap: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  &.active {
    background-image: url(../../assets/svg/audio.svg);
  }
}
.snow-control {
  width: 40px;
  height: 40px;
  background-image: url(../../assets/svg/snow.svg);
  gap: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.menu-item {
  width: 80px;
  height: 80px;
  gap: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: .4s;
  &:hover {
    transform: scale(1.05,1.05);
  }
}
.bg {
  width: 65px;
  height: 65px;
  border: 1px solid #cccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  &:nth-child(1) {
    background-image: url(../../assets/bg/1.jpg);
  }
  &:nth-child(2) {
    background-image: url(../../assets/bg/2.jpg);
  }
  &:nth-child(3) {
    background-image: url(../../assets/bg/3.jpg);
  }
  &:nth-child(4) {
    background-image: url(../../assets/bg/4.jpg);
  }
  &:nth-child(5) {
    background-image: url(../../assets/bg/5.jpg);
  }
  &:nth-child(6) {
    background-image: url(../../assets/bg/6.jpg);
  }
  &:nth-child(7) {
    background-image: url(../../assets/bg/7.jpg);
  }
  &:nth-child(8) {
    background-image: url(../../assets/bg/8.jpg);
  }
  &:nth-child(9) {
    background-image: url(../../assets/bg/9.jpg);
  }
  &:nth-child(10) {
    background-image: url(../../assets/bg/10.jpg);
  }
}
.tree {
  width: 115px;
  height: 115px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  background-size: auto 110px;
  &:nth-child(1) {
    background-image: url(../../assets/tree/1.png);
  }
  &:nth-child(2) {
    background-image: url(../../assets/tree/2.png);
  }
  &:nth-child(3) {
    background-image: url(../../assets/tree/3.png);
  }
  &:nth-child(4) {
    background-image: url(../../assets/tree/4.png);
  }
  &:nth-child(5) {
    background-image: url(../../assets/tree/5.png);
  }
  &:nth-child(6) {
    background-image: url(../../assets/tree/6.png);
  }
  &-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 400px;
    padding-top: 25px;
  }
  &-page{
    padding: 0;
    &__blur {
      padding: 0;
      display: flex;
      justify-content: space-between;
      background: rgba(22, 41, 41, 0.5);
      backdrop-filter: blur(3px);
      height: 100%;
      min-height: calc(100vh - 140px);
      width: 100%;
      padding: 50px 15px;
      position: relative;
    }
  }
  &-main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../../assets/bg/1.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 140px);
    min-height: 750px;
    width: 800px;
    padding-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
  }
}
.tree-container::before {
  content: "Выберите ёлку";
}
.bg-container::before {
  content: "Выберите фон";
}
.garland {
  &-container::before {
    content: "Гирлянда";
  }
  &-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 10px;
  }  
  &-btn-color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
  }
}
.multicolor-btn {
  background: linear-gradient(
124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #ccc 0 2px 12px;
}
.red-btn {
  background-color: #F00;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgb(255 0 0 / 50%) 0 2px 12px;
}
.blue-btn {
  background-color: #24E0FF;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3f8cff 0 2px 14px;
}
.yellow-btn {
  background-color: #FF0;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #ff0 0 2px 12px;
}
.green-btn {
  background-color: rgb(0, 247, 0);
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgb(0, 247, 0) 0 2px 12px;
}
.btn-clear-local-tree {
  text-align: center;
  line-height: 45px;
}
.favorites{
  &-aside {
    height: calc(100vh - 140px);
    min-height: 750px;
    width: 400px;
    
  }
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 25%;
    max-width: 84px;
    min-height: 84px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    flex-shrink: 1;
    &-img {
      display: block;
      position: absolute;
      width: auto;
      height: 60px;
      width: 60px;
      object-fit: contain;
      cursor: move;
    }
  }
  &-count {
    z-index: 10;
    align-self: flex-end;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 60px;
    border-radius: 10px;
    background-color: #24C5DB;
    font-size: 14px;
    font-weight: 900;
  }
  &-container, .favorites-decorate {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    width: 100%;
    padding-left: 25px;
    &::before {
      content: "Игрушки";
      width: 100%;
      font-size: 20px;
      font-weight: 400;
      padding: 10px;
      padding-left: 0;
      text-transform: uppercase;
  }
}
}

.area {
  position: relative;
}

$globe-width:   12px;
$globe-height:  28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

.garland-tree-container {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 800px;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -382px;
  pointer-events: none;
  z-index: 90;
  overflow: hidden;
  
}
.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 30px;
  pointer-events: none;
  width: 100%;
  &:nth-child(2) {
    top: 75px;
  }
  &:nth-child(3) {
    top: 150px;
  }
  &:nth-child(4) {
    top: 225px;
  }
  &:nth-child(5) {
    top: 300px;
  }
  &:nth-child(6) {
    top: 375px;
  }
  &:nth-child(7) {
    top: 450px;
  }
  li {
    position: relative;
    animation-fill-mode: both; 
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgb(0, 247, 0);
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: rgba(0,255,255,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.5);
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: rgba(247,0,148,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(6n+2) {
      background: rgb(247, 243, 0);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgb(247, 243, 0);
      animation-name: flash-4;
      animation-duration: 1.6s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
      top: 7px;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
      top: -7px;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
  li {
    &.green {
      animation-name: flash-1;
    }
    &.blue {
      animation-name: flash-2;
    }
    &.red {
      animation-name: flash-3;
    }
    &.yellow {
      animation-name: flash-4;
    }
  }
}
@keyframes flash-1 { 
    0%, 100% { background: rgb(0, 247, 0);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgb(0, 247, 12);} 
    50% { background: rgba(0,247,165,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,0.2);}
}
@keyframes flash-2 { 
    0%, 100% { background: rgba(0,255,255,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgb(4, 0, 255);} 
    50% { background: rgba(0,255,255,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.2);}
}
@keyframes flash-3 { 
    0%, 100% { background: rgb(247, 0, 54);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);} 
    50% { background: rgba(247, 0, 54,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247, 0, 54, 0.2);}
}
@keyframes flash-4 { 
  0%, 100% { background: rgb(243, 247, 54);
  box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(243,247,148,1);} 
  50% { background: rgba(243, 247, 54,$light-off-opacity);
  box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(243, 247, 54, 0.2);}
}

.btn-garland {
  width: 90px;
  &.active {
    background-color: rgb(247, 0, 54);
    border: 1px solid rgb(247, 0, 54);
  }
}

