$black: #030303;
$dark-red: #710707;
$gold: #9D8665;
$white: #ffffff;

$roboto: "Roboto", sans-serif;
$forum: "Forum", sans-serif;

//------------COMMON CLASSES
html {
  scroll-behavior: smooth; 
}
body {
  font-family: $roboto;
  position: relative;
  
  p {
    font-size: 28px;
  }
  span {
    font-size: 22px;
  }
}
main {
  overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.btn {
  font-size: 22px;
  line-height: 75px;
  text-align: center;
  width: 360px;
  display: block;
  border-radius: 10px;
  background-color: $dark-red;
  font-weight: 300;
  letter-spacing: 2px;
  border: none;
  transition: 0.5s;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: $gold;
  }
}

.title {
  font-size: 80px;
  font-family: $forum;
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  color: $white;
}
h3{
  font-weight: 400;
}
.header {
  
  padding: 30px 0 47px;
  background-color: $black;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
}
.logo{
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >h1{
      margin: 0;
    }
  }
  &__name {
    text-transform: uppercase;
    color: $white;
    font-size: 28px;
    font-family: $forum;
    font-weight: 400;
    letter-spacing: 5px;
  }
  &__img {
    padding-right: 25px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__li {
    margin-left: 55px;
  }
  &__link{
    text-decoration: none;
    color: $white;
    font-family: $roboto;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 2.2px;
    transition: 0.5s;
    &:hover {
      color: $gold;
    }
    &:active {
      color: #7E6C51;
    }
    // padding: 0 27px;
  }
}
//---------------------------Welcome
.welcome {
  display: flex;
  background-color: $black;
  margin-top: -2px;
  padding: 0 0 60px;
  p, span, a {
    color: $white;
  }
  &__title {
    // font-size: 80px;
    // font-family: $forum;
    // margin: 0;
    // letter-spacing: 5px;
    // text-transform: uppercase;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 75px;
    letter-spacing: 2px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    z-index: 1;
    top: 150px;
  }
  p:nth-child(2) {
    margin-bottom: 21px;
  }
  .container {
    // display: flex;
    position: relative;
  }
  //-----SLIDER
  &-slider {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    &__slide {
      background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(./assets/img/welcome/1.jpg);
      width: 1000px;
      height: 750px;
    }
    &__items {
      display: flex;
      align-items: center;
      position: absolute;
      background: $black;
      bottom: -60px;
      padding: 47px 75px;
    }
    &__dots-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 50px;
      
    }
    &__dot {
      display: block;
      width: 16px;
      height: 16px;
      background-color: #fff;
      margin: 0 12px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        background-color: $gold;
      }
    }
    &__btn-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__counter-wrapper {
      margin-right: 45px;
    }
    &__counter {
      font-size: 22px;
      display: inline;
      background: transparent;
      color: $white;
      border: none;
      width: 28px;
      pointer-events: none;
      &:nth-child(1) {
        margin-right: 3px;
      }
      &:nth-child(3) {
        margin-left: 3px;
      }
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.slider__btn {
  width: 30px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.5s;
  &.prev{
    background: url(./assets/img/left__btn.svg);
    margin-right: 20px;
    &:hover {
      background-image: url(./assets/img/left__btn_h.svg);
    }
  }
  &.next {
    background: url(./assets/img/right__btn.svg);
    &:hover {
      background-image: url(./assets/img/right__btn_h.svg);
    }
  }
}

//----------------VIRTUAL
.visiting {
  padding: 75px 0 36px;
  &__title {
    color: $gold;
    margin-bottom: 100px;
  }
  &__card {
    display: block;
    margin-bottom: 28px;
    &:hover .underline-title::after {
      width: 100%;
      background-color: $gold;
      transition: 0.5s;
    }
  }
  &__card-name {
    color: $black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: $forum;
    font-size: 32px;
    margin: 0 0 24px 0;
  }
  &__card-img {
    margin-bottom: 20px;
  }
  &__card-description {
    display: block;
    font-family: $roboto;
    font-weight: 200;
    color: $black;
    margin-bottom: 10px;
    &:nth-last-child(1){
      font-size: 18px;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 37px;
    column-gap: 30px;
  }
}

.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: $dark-red;
}
.visiting__card-name.underline-title::after {
  width: 300px;
  bottom: -12px;
  height: 2px;
}

//---------------------explore
.explore {
  background-color: $black;
  padding: 75px 0;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: $white;
    margin-bottom: 105px;
    &.underline-title::after{
      width: 655px;
    }
  }
  &__description {
    width: 50%;
  }
  &__text {
    color: $white;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 28px;
    line-height: 37px;
    width: 655px;
    & span {
      color: $gold;
    }
  }
  &__img {
    width: 50%;
    height: 716px;
  }
}


//-----------------Video
.video {
  padding: 75px 0;
  &__title-wrapper {
    display: flex;
    justify-content: space-between;

  }
  &__title {
    color: $gold;
    width: 50%;
  }
  &__description {
    font-weight: 300;
    line-height: 37px;
    width: 50%;
    margin: 8px 0 0;
    font-size: 22px;
  }
  &__title-wrapper {
    margin-bottom: 74px;
  }
}

.rewind {
  background: linear-gradient(to right, #710707 50%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
  height: 7px;
  width: 400px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.rewind::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}

.player {
  margin-bottom: 35px;
  &__button {
    background-image: url(./assets/video/play.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 23px;
    height: 31px;
    display: block;
    margin-right: 50/1440*100%;
    cursor: pointer;
    
  }
  &__volume-btn {
    background-image: url(./assets/video/volume.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 31px;
    height: 38px;
    display: block;
    margin-right: 50/1440*100%;
    cursor: pointer;
  }
  &__volume {
    width: 155/1440*100%;
    margin-right: 50/1440*100%;
    cursor: pointer;
  }
  &__fullscreen {
    background-image: url(./assets/video/Group.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 35px;
    height: 35px;
    display: block;
    cursor: pointer;
  }
  &__video {
    width: 100%;
  }
  &__controls {
    width: 100%;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -5px;
    z-index: 1;
    padding: 25px 30px;
  }
  &__rewind {
    width: 929/1440*100%;
    margin-right: 50/1440*100%;
    cursor: pointer;
  }

//---------------------Youtube
  &__small-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
  }
  &__dots-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__arrow {
    width: 10px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
    &.prev {
      background-image: url(./assets/video/slider-prev.svg);
      margin-right: 20px;
      &:hover {
        background-image: url(./assets/video/slider-prew-hov.svg);
      }
    }
    &.next {
      background-image: url(./assets/video/slider-next.svg);
      &:hover {
        background-image: url(./assets/video/slider-next-hov.svg);
      }
    }
    
  }
  &__dot {
    width: 12px;
    height: 12px;
    background: #999999;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
    &.active {
      background: #333333;
    }
    &:hover {
      background: #710707;
    }
  }
}

.pause {
  background-image: url(./assets/video/pause.svg);
}
.mute {
  background-image: url(./assets/video/mute.svg);
}
:-webkit-full-screen .player__fullscreen {
  background-image: url(./assets/video/fullscreen_exit.svg);
}

:-webkit-full-screen .player__video {
  height: 90vh;
  margin: 0 auto;
}

//-----------------------Gallery

.gallery {
  background-color: $black;
  padding: 75px 0 0; 
  &__container {
    overflow: hidden;
    height: 2125px;
    position: relative;
    z-index: 10;
    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 1440px;
      height: 360px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
  }
  &__wrapper {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 2800px;
    position: relative;
  }
  &__img {
    position: relative;
    max-width: 456px;
    height: auto;
    margin-bottom: 24px;
  }
  &__title {
    margin-bottom: 75px;
  }
}


.gallery__wrapper::before,
.gallery__wrapper::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}


.gallery__img:nth-child(3n+1) { order: 1; top: 49px;}
.gallery__img:nth-child(3n+2) { order: 2; }
.gallery__img:nth-child(3n)   { order: 3; top: 49px;}


//-----------------Tickets

.tickets {
  padding: 75px 0;
  &__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }
  &__title {
    color: $gold;
    margin-bottom: 101px;
  }
}
.form {
  display: flex;
  justify-content: space-between;
  &__type-wrapper {
    display: flex;
    flex-direction: column;
    &>.form__title {
      margin-bottom: 51px;
      text-align: left;
    }
  }
  &__title {
    color: $black;
    font-weight: 700;
    margin: 0 0 27px;
    text-align: right;
  }
  &__label {
    font-size: 22px;
    font-weight: 300;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      left: -40px;
      top: 6px;
      background-image: url(./assets/img/radio.jpg);
      width: 17px;
      height: 17px;
      cursor: pointer;
    }
  }
  &__check {
    margin-right: 23px;
  }
  &__check-wrapper {
    margin-bottom: 25px;
  }
  &__amount-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }
  &__amount-age {
    width: 150px;
    margin-bottom: 15px;
  }
  &__amount-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $black;
    width: 150px;
    height: 50px;
    color: $black;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
    & input {
      border: none;
      text-align: center;
    }
    & button {
      border: none;
      background-color: transparent;
      background-image: url(./assets/img/minus.svg);
      background-repeat: no-repeat;
      background-position: center;
      // background-size: contain;
      width: 62px;
      height: 100%;
      cursor: pointer;
      &:nth-last-child(1) {
        background-image: url(./assets/img/plus.svg);
      }
    }
  }
  &__amount-total {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin: 40px 0 61px;
  }
  &__btn{
    width: 175px;
    height: 50px;
    background-color: $black;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
  }
}
.form__check:checked ~ .form__label::after {
  background-image: url(./assets/img/radio__check.jpg);
}
.parallax {
  background-image: url(./assets/img/parallax.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 1920px;
  height: 400px;
}


//--------------------Contacts

.contacts {
  padding: 75px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__address {
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: $black;
    margin-bottom: 102px;
  }
  &__address-title {
    margin-top: 0;
    margin-bottom: 52px;
    font-size: 28px;
    font-weight: 500;
    max-width: 230px;
  }
  &__link {
    margin-bottom: 26px;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    color: $black;
    transition: 0.5s;
    &:hover {
      color: $gold;
    }
  }
}

//-------------------footer
.footer {
  background-color: $black;
  padding: 84px 0 49px;
  &__container {
    padding-bottom: 28px;
  }
  &__top{
    display: flex;
    justify-content: space-between;
  }
  & .logo__wrapper {
    align-items: flex-start;
    
  }
  & .nav-wrapper {
    width: 50%;
  }
  & nav {
    width: 552px;
    position: relative;
    right: 61px;
    & .nav {
      // flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      margin: 0;
    }
  }
  & .nav__li {
    // width: 50%;
    margin: 0;
    text-align: left;
    margin-bottom: 25px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 0;
    &-text {
      font-weight: 200;
      color: $white;
      font-size: 22px;
      letter-spacing: 2px;
      text-decoration: none;
      transition: 0.5s;
      &:hover {
        color: $gold;
      }
      &:nth-child(2) {
        position: relative;
        left: 44px;
      }
      
    }
  }
  &__border {
    width: 100%;
    height: 3px;
    background-color: #666666;
  }
  
}

.social-network {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 23px;
  & li {
    list-style-type: none;
    margin-left: 25px;
    transition: 0.5s;
    width: 48px;
    height: 48px;
    border: 1px solid #666666;
    border-radius: 50%;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    & svg {
      transition: 0.5s;
    }
    &:hover{
      transform: scale(1.15);
      border: 1px solid $gold;
    }
    &:hover svg {
      filter: invert(0.5) sepia(1);
    }
  }
}

//--------------popup

.popup {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-200%);
  
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  &-overlay {
    position: absolute;
    content: '';
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
  }
  &__title {
    font-size: 50px;
    letter-spacing: 2px;
  }
  &.active {
    transform: translateX(0%);
  }
  &-form {
    max-width: 1440px;
    width: 100%;
    height: 845px;
    padding: 90px 235px;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    overflow: auto;
    &__left{
      width: 420px;
      padding-right: 20px;
    }
    &__right{
      border: 1px solid $black;
      margin-left: 20px;
      padding: 25px 29px;
      width: 530px;
      height: 665px;
      position: relative;
    }
  }
  &__title {
    color: $gold;
    margin-bottom: 10px;
    font-size: 46px;
    &::after {
      bottom: -46px;
    }
  }
  &__subtitle {
    color: $dark-red;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 75px;
  }
  &__select-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__select-type {
    
    &_label {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        left: 15px;
        top: calc(50% - 7.5px);
        width: 15px;
        height: 15px;
        background-image: url(./assets/img/popup/ballot.svg);
      }
    }
  }
  &__input {
    border: 1px solid $black;
    height: 45px;
    width: 400px;
    padding: 0 43px;
    font-size: 18px;
    margin-bottom: 20px;
    &-label {
      position: relative;
      height: 45px;
      &::after {
        position: absolute;
        content: '';
        left: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &.text::after {
        background-image: url(./assets/img/popup/name.svg);
        width: 13px;
        height: 15px;
        top: calc(50% - 7.5px);
      }
      &.email::after {
        background-image: url(./assets/img/popup/email.svg);
        width: 15px;
        height: 13px;
        top: calc(50% - 6.5px);
      }
      &.tel::after {
        background-image: url(./assets/img/popup/tel.svg);
        width: 14px;
        height: 23px;
        top: calc(50% - 11.5px);
      }
    }
  }
  &__entry-name {
    font-size: 18px;
    color: $gold;
    font-family: $forum;
    margin: 0;
    &::after {
      bottom: -5px;
    }
  }
  &__entry-block {
    padding: 10px 15px 4px;
    border: 1px solid $black;
  }
  &__entry-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  &__entry-text {
    font-size: 18px;
    display: block;
    &:nth-last-child(2) {
      margin-bottom: 20px;
      margin-top: 5px;
    }
  }
  &__entry-right .form__amount-button:nth-last-child(2) {
    margin-bottom: 18px;
  }
  &-form .form__amount-button {
    width: 105px;
    height: 25px;
    font-size: 18px;
    border: 1px solid $black;
    & button {
      width: 35px;
      height: 25px;
      background-color: $black;
      padding: 0;
      transition: 0.5s;
    }
    
    & input {
      width: 35px;
      font-weight: 400;
    }
  }
}
.popup__form .form__amount-button button:hover {
  background-color: $black;
  & svg {
    fill: $white;
  }
}

.select {
  width: 190px;
  height: 45px;
  padding-left: 45px;
  position: relative;
  font-size: 18px;
  background-image: url(./assets/img/popup/select-open.svg);
  background-position: right 15px top 50%, 0 0;
  background-size: 17px 17px, 100%; 
  background-repeat: no-repeat;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  transition: 0.25s;
  border: 1px solid $black;
  
  &:focus{
    background-image: url(./assets/img/popup/select-close.svg);
  }
  &__label {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: 15px;
      top: calc(50% - 7.5px);
      width: 15px;
      height: 15px;
    }
    &-date::after {
      background-image: url(./assets/img/popup/date.svg);
    }
    &-time::after {
      background-image: url(./assets/img/popup/time.svg);
    }
    &-date {
      margin-right: 20px;
    }
  }
}
input[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.popup__select-type {
  width: 400px;
  height: 45px;
  margin-bottom: 20px;
}

.overview {
  &__info-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
  }
  &__title{
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 5px;
  }
  &__subtitle {
    font-size: 22px;
    font-weight: 500;
    color: $dark-red;
    margin: 0 0 10px;
    display: block;
  }
  &__group {
    margin-bottom: 6px;
  }
  &__group-text {
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
  }
  &-right {
    background-image: url(./assets/img/popup/img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 150px;
    height: 120px;
  }
}
.cost {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
  }
  &-view {
    display: flex;

  }
  &-view__left {
    display: flex;
    flex-direction: column;
  }
  &-view__right {
    display: flex;
    flex-direction: column;
  }
  &__number {
    margin-bottom: 10px;
    width: 32px;
    height: 20px;
    background-color: $black;
    border-radius: 5px;
    font-size: 18px;
    color: #A4A4A3;
    margin-right: 10px;
    border: none;
    text-align: center;
  }
  &__text {
    margin-bottom: 10px;
    font-size: 22px;
  }
  &__view-all {
    margin-bottom: 10px;
    font-size: 22px;
  }
  &-view-right {
    display: flex;
    flex-direction: column;
  }
  &-right {
    display: flex;
    flex-direction: column;
  }
}

.border {
  width: 100%;
  height: 2px;
  background-color: $dark-red;
  margin-bottom: 12px;
}

.total {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &-text {
    font-size: 32px;
    margin: 0;

  }
  &-number {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
  }
}

//-----------CARD
.card {
  padding: 15px 20px 5px;
  background-color: #BCBCBC;
  border-radius: 3px;
  width: 360px;
  position: relative;
  z-index: 2;
  &::before {
    position: absolute;
    content: '';
    right: 20px;
    top: 34px;
    background-image: url(./assets/img/popup/Visa.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 55px;
    height: 16px;
  }
  &::after {
    position: absolute;
    content: '';
    right: 16px;
    top: 65px;
    background-image: url(./assets/img/popup/Mastercard.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 61px;
    height: 40px;
  }
  &__text {
    font-size: 12px;
    margin: 0 0 5px;
  }
  &__input {
    border: 1px solid #A4A4A3;
    margin-bottom: 10px;
    width: 215px;
    height: 35px;
    padding: 0 10px;
    &.expiration {
      width: 100px;
      opacity: 1;
      margin-right: 15px;
    }
    &.cardholder {
      width: 320px;
    }
  }
  &__expiration-wrapper {
    display: flex;
  }
  
}
.card__input.expiration::-webkit-outer-spin-button,
.card__input.expiration::-webkit-inner-spin-button {
    -webkit-appearance: auto;
}

.card-back {
  padding: 15px 0 5px;
  background-color: #BCBCBC;
  border-radius: 3px;
  width: 360px;
  position: absolute;
  right: 29px;
  top: 354px;
  z-index: 0;
  &__first {
    width: 100%;
    height: 10px;
  }
  &__second {
    height: 45px;
    width: 100%;
    background-color: $black;
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 5px 20px;
  }
  &__text {
    font-size: 12px;
    margin-right: 15px;
    margin-bottom: 5px;
  }
  &__min-text {
    font-size: 10px;
    width: 55px;
    text-align: center;
    margin-right: 15px;
  }
  &__input {
    width: 75px;
    height: 35px;
    border: 1px solid #A4A4A3;
    text-align: center;
  }
}
.popup__btn {
  width: 220px;
  height: 45px;
  font-size: 22px;
  color: #fff;
  border: transparent;
  background-color: $dark-red;
  position: absolute;
  right: 29px;
  bottom: 25px;
  cursor: pointer;
}
.close-btn {
  background-image: url(./assets/img/popup/Close.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: transparent;
  border: none;
}
