/* --------------------ZOO---------------------- */

.icon.alligator.active:after {
  content: "ALLIGATOR, Florida USA";
  top: 12px;
  right: -115px;
  max-width: 90px;
  display: block;
  background: #70CB0E;
  padding: 4px 7.5px;
}
.icon.alligator.active:before {
  display: block;
}
