body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
@font-face {
  font-family: "SceneW01-Black";
  src: url(../online-zoo/assets/fonts/SceneW01-Black.woff) format("woff");
}
@font-face {
  font-family: "Bebas";
  src: url(../online-zoo/assets/fonts/Bebas-Neue.woff) format("woff");
}
p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}
p a {
  color: #267BDE;
  text-decoration: underline;
}
.btn {
  padding: 15px 60px;
  border-radius: 30px;
  font-size: 18px;
  background-color: #70CB0E;
  color: #000;
  display: block;
  text-align: center;
  height: 51px;
}

.subtitle {
  font-size: 40px;
  font-weight: 500;
}

.header-block {
  display: flex;
  padding-top: 12px;
}
.header-logo__text {
  visibility: hidden;
  position: absolute;
}
.nav {
  display: flex;
  align-items: center;
  padding-left: 58px;
}
.nav-link {
  font-weight: 500;
  color: #000;
  font-size: 18px;
}
.nav li {
  margin-right: 35px;
}
.nav-active {
  cursor: default;
  background-color: #70CB0E;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px transparent;
}
/* ----------------------FOOTER----------------------- */
.footer {
  background-color: #DFF5B0;
  width: 100%;
  padding: 80px 0 20px;
  position: relative;
}
.footer::after {
  content: '';
  position: absolute;
  background-image: url(../../assets/images/footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 315px;
  left: 0;
  top: -60px;
  z-index: -1;
}
.footer .container {
  z-index: 1;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 53px;
}
.footer .nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  position: relative;
  left: 65px;
}
.footer nav {
  width: 30%;
}
.footer .nav li {
  width: 50%;
  margin: 0;
}
.footer .nav li:nth-child(1) {
  margin: 0 0 15px;
}
.footer .nav li:nth-child(2) {
  margin: 0 0 15px;
}
.social-networks {
  display: flex;
}
.social-networks__wrapper {
  margin-left: 10px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom {
  font-size: 18px;
}
.btn-donate {
  max-width: 232px;
  padding: 15px 28px;
}

/* ---------------MAP common style------------------- */
.icon-wrapper {
  position: relative;
}
.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.icon-border {
  width: 67px;
  height: 67px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: -1px;
  top: -1px;
  transition: 0.5s;
}
.icon-img {
  width: 65px;
  height: 65px;
}
.icon.eagle {
  top: 395px;
  left: 75px;
}
.icon.alligator {
  top: 404px;
  left: 298px;
}
.icon.gorilla {
  top: 504px;
  right: 439px;
}
.icon.panda {
  top: 408px;
  right: 172px;
}
.icon::after {
  content: '';
  position: absolute;
  top: 25px;
  text-align: center;
  color: #000;
}
.icon.eagle::after {
  content: 'EAGLE';
  right: 71px;
}
.icon.alligator::after {
  content: "ALLIGATOR";
  right: -100px;
}
.icon.gorilla::after {
  content: "GORILLA";
  right: -71px;
}
.icon.panda::after {
  content: "PANDA BEER";
  top: 16px;
  right: -59px;
  max-width: 53px;
}
/* ---icon-hover */
.icon:hover .icon-border  {
  border: 4px solid #70CB0E;
}
.icon:hover::after {
  background: #70CB0E;
  padding: 4px 7.5px;
}
.icon.eagle:hover::after {
  content: 'Eagle, California USA';
  top: 10px;
  right: 75px;
  width: 114px;
} 
.icon:before {
  display: none;
  position: absolute;
  content: "";
  background-image: url(../../assets/icons/triangle-green.svg);
  width: 9px;
  height: 9px;
  top: 46%;
  right: -10px;
}
.icon.eagle:hover:before {
  display: block;
  top: 43%;
  right: 66px;
  transform: rotate(180deg);
}
.icon.alligator:hover::after {
  content: "ALLIGATOR, Florida USA";
  top: 12px;
  right: -115px;
  max-width: 90px;
}
.icon.alligator:hover::before {
  display: block;
}
.icon.gorilla:hover::after {
  content: "GORILLA, Eastern DRC";
  top: 12px;
  right: -145px;
  max-width: 120px;
}
.icon.gorilla:hover::before {
  display: block;
}
.icon.panda:hover::after{
  content: "PANDA, China";
  top: 12px;
  right: -113px;
  max-width: 88px;
}
.icon.panda:hover::before {
  display: block;
}
.zoom {
  position: absolute;
  right: 20px;
  bottom: 87px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}
.zoom-button {
  background: #fff;
  width: 32px;
  position: relative;
  border: none;
  cursor: pointer;
}
.zoom-button__reduce{
  height: 41px;
  border-bottom: 1px solid #000;
}
.zoom-button__increase{
  height: 39px;
}
.zoom-button__reduce::after {
  position: absolute;
  content: "";
  left: 31.25%;
  top: 50%;
  width: 12px;
  height: 2px;
  background: #000;
}
.zoom-button__increase::after {
  position: absolute;
  content: "";
  left: 31.25%;
  top: 50%;
  width: 12px;
  height: 2px;
  background: #000;
}
.zoom-button__increase::before {
  position: absolute;
  content: "";
  left: 46.25%;
  top: 38%;
  width: 2px;
  height: 12px;
  background: #000;
}
.array {
  width: 63px;
  height: 63px;
  cursor: pointer;
  border-radius: 50%;
  display: block;
  background: #FFE68E;
  flex-shrink: 0;
  border: none;
  position: relative;
}
.array::before {
  position: absolute;
  content: "";
  background-image: url(./assets/icons/array.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 30px;
  top: 16px;
  left: 22px;
}

.array.next::before {
  transform: rotate(180deg);
  left: 26px;
}

/* ----------------------------------------POPUPS------------------------------------------------ */

.popups-wrapper {
  position: relative;
  
}
.popup-feedback {
  position: absolute;
  background: #fff;
  width: 630px;
  padding: 50px 80px;
  top: calc(50% + 218px);
  left: calc(50% - 315px );
  display: none;
}
.popup-feedback.active {
  display: block;
}
.popup-feedback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-feedback__input {
  width: 100%;
  background: #DFF5B0;
  border: 1px solid #9CA498;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 8px;
}
.popup-feedback__text {
  height: 180px;
  width: 100%;
  background: #DFF5B0;
  border: 1px solid #9CA498;
  resize: none;
  padding: 10px;
  margin-bottom: 20px;
}
.btn-submit {
  width: 177px;
  border: none;
}
.popup-donate {
  display: none;
  position: absolute;
  background: #fff;
  width: 630px;
  padding: 50px 80px;
  top: calc(50% + 218px);
  left: calc(50% - 315px );
}
.popup-donate.active {
  display: block;
}
.popup-donate__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.popup-donate__select {
  background: #DFF5B0;
  border: 1px solid #9CA498;
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  
}
.popup-donate__form::after {
  position: absolute;
  content: '';
  background-image: url(./assets/icons/array.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 21px;
  right: 15px;
  top: 12px;
  transform: rotate(-90deg);
}
.popup-donate__form::before {
  position: absolute;
  content: '';
  background: #DFF5B0;
  width: 16px;
  height: 16px;
  right: 5px;
  top: 12px;
}
.popup-donate__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  text-align: center;
  width: 100%;
}
.popup-donate__input {
  border: 1px solid #9CA498;
  padding: 10px;
  font-size: 16px;
  width: 67%;
  margin-right: 8px;
  text-align: center;

}
.popup-donate__currency {
  border: 1px solid #9CA498;
  padding: 10px;
  font-size: 16px;
  width: 33%;
  text-align: center;
}
.popup-donate__text {
  height: 85px;
  width: 100%;
  border: 1px solid #9CA498;
  resize: none;
  padding: 10px;
  margin-bottom: 20px;
}
.btn-popup__donate {
  width: 168px;
  border: none;
}
.popup-donate__option {
  padding: 11px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.popup-close {
  position: absolute;
  background-image: url(./assets/icons/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 15px;
  right: 15px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}