body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
@font-face {
  font-family: "SceneW01-Black";
  src: url(/assets/fonts/SceneW01-Black.woff) format("woff");
}
p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}
p a {
  color: #267BDE;
  text-decoration: underline;
}
.btn {
  padding: 15px 60px;
  border-radius: 30px;
  font-size: 18px;
  background-color: #70CB0E;
  color: #000;
  display: block;
  text-align: center;
  height: 51px;
}
