.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 60px;
  border-radius: 10px;
  background-color: #949494;
  margin-bottom: 40px;
}
.container input {
  width: 170px;
  height: 45px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #000;
  padding: 0 15px;
}
.container label {
  margin-right: 25px;
}
.container button {
  height: 45px;
  font-size: 16px;
  width: 70px;
  border-radius: 4px;
  border: 1px solid #000;
  cursor: pointer;
  font-weight: 600;
  background-color: #000000;
  color: #fff;
}