.error {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 50px;
  position: relative;
  background-image: url(../../assets/images/404.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 698px;
  min-width: 675px;
}
.error-link {
  font-size: 20px;
  line-height: 20px;
  color: #59C3FB;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  /* font-family: "Bebas"; */
  transition: 00.5s;
}
.error-link:hover {
  color: #70CB0E;
}
@media (max-width: 1199px) {
  .error {
    min-width: auto;
  }
}
@media (max-width: 639px) {
  .error-link {
    font-size: 11px;
    text-align: center;
  }
  .error {
    min-height: 240px;
  }
}