@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.settings-btn {
  margin-top: 10px;
  background-image: url(../assets/svg/settings.png);
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.settings-wrapper {
  position: absolute;
  right: 225px;
  top: 20px;
  width: 280px;
  background-color: white;
  border-radius: 2.5px;
  transform: translateY(-300%);
  transition: .5s;
  padding: 15px;
  z-index: 2;
}
.settings-wrapper.js-act {
  transform: translateY(0);
}

.check {
  width: 25px;
  height: 25px;
}
.settings-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.settings-language_text {
  color: #000;
  font-size: 16px;
}

.select-img {
  background-color: #710707;
  border: none;
  color: rgb(238, 238, 238);
  font-size: 18px;
  cursor: pointer;
  border-radius: 12px;
  width: 105px;
  height: 32px;
  padding: 4px;
}
.settings-tag {
  background-color: #710707;
  border: none;
  color: rgb(238, 238, 238);
  font-size: 18px;
  cursor: pointer;
  border-radius: 12px;
  width: 105px;
  height: 32px;
  padding: 6px;
}

.select-language {
  background-color: #710707;
  border: none;
  color: rgb(238, 238, 238);
  font-size: 18px;
  cursor: pointer;
  border-radius: 12px;
  width: 55px;
  height: 32px;
  padding: 4px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}


body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background:  center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
  position: relative;
  
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
  margin: 0 10px;
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}


.rewind {
  background: linear-gradient(to right, #C4C4C4 50%, #C4C4C4 40%, #C4C4C4 40%, #C4C4C4 100%);
  height: 7px;
  width: 250px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  margin: 0 10px;
  border-radius: 2px;
}
.rewind::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}
.rewind.player__volume {
  width: 100px;
  background: linear-gradient(to right, #710707 50%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
}
.player__volume-btn {
  background-color: transparent;
  border: none;
  background-image: url(../assets/svg/volume.svg);
  width: 26px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.5s;
  cursor: pointer;
}
.player__volume-btn.mute {
  background-image: url(../assets/svg/mute.svg);
}

.player-time {
  width: 90px;
  display: flex;
}
.divider {
  margin: 0 5px;
  display: block;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
  transition: 0.5s;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  /* width: 100vw; */
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
.player {
  transition: .8s;
}
.weather {
  transition: .8s;
}
.quote-wrapper {
  transition: .8s;
}
.time {
  transition: .8s;
}
.date {
  transition: .8s;
}
.disabled {
  /* visibility: hidden; */
  transform: translateY(-3000px);
}